{{>header}}
{{notFound}}

<div class="container my-5 mx-auto d-flex align-items-center ">
    <div class="my-5 col-md-4 m-auto justify-content-center">
        {{>userForm}}
    </div>
</div>
{{>footer}}