{{>header}}
<div class="m-5">
<div class="m-5 p-3 border-rounded col-md-4 m-auto text-center" style="background-color:rgb(230 230 230);">
<div class="m-3"><h5>Operation Info</h5></div>
    <div>Amount: {{operation.amount}}</div>
    <div>Date: {{operation.date}}</div>
    <div>Location: {{operation.location}}</div>

</div>
</div>
{{>footer}}