
<form method="POST">
  <div class="mb-3">
    <input type="text" class="form-control" name="userName" placeholder="User Name" value={{taskTitle}}>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="userPassword" placeholder="Password" value={{taskContent}}>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>

</form>